/* ISOCHRON */

#GPisochron {
  top: 140px;
}

/* Showing/hiding mouse position panel */

#GPshowIsochronPicto {
  display: inline-block;
}

#GPshowIsochron + label {
  display: block;
}

#GPshowIsochron:checked + label {
  display: none;
}

#GPshowIsochron + label + div {
  display: none;
}

#GPshowIsochron:checked + label + div {
  display: block;
}

/* General panels */

#GPisochronPanel {
  width: 280px;
}

/* Isochron form */

#GPisochronForm {
  padding: 15px;
}

.GPisochronFormMini {
  max-height: 58px;
  overflow: hidden;
}

.GPisochronOriginVisible {
  display: block;
}

.GPisochronOriginHidden {
  display: none;
}

.GPisochronOriginPointerImg {
  width: 28px;
  background-color: #F2F2F2;
  cursor: pointer;
}

#GPisochronOriginPointer + .GPisochronOriginPointerImg {
  background-position: -1px -1px;
}

#GPisochronOriginPointer:checked + .GPisochronOriginPointerImg {
  background-position: -29px -1px;
}

input#GPisochronSubmit {
  margin-top: 5px;
}

/* Alternative choice */

#GPisochronChoice {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5px;
}

.GPisochronChoiceAlt input {
  display: none;
}

.GPisochronChoiceAltImg {
  display: block;
  width: 28px;
  height: 28px;
  margin: auto;
  cursor: pointer;
}

#GPisochronChoiceAltChron + .GPisochronChoiceAltImg {
  background-position: -56px 0;
}

#GPisochronChoiceAltChron:checked + .GPisochronChoiceAltImg {
  background-position: -84px 0;
}

#GPisochronChoiceAltDist + .GPisochronChoiceAltImg {
  background-position: -112px 0;
}

#GPisochronChoiceAltDist:checked + .GPisochronChoiceAltImg {
  background-position: -140px 0;
}

.GPisochronChoiceAlt span {
  cursor: pointer;
  display:block;
  color: #999;
}

.GPisochronValueHidden {
  display: none;
}

#GPisochronValueChron,
#GPisochronValueDist {
  width: 220px;
  margin: auto;
}

/* Mode choice */

#GPisochronModeChoice {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.GPisochronModeLabel {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

#GPisochronTransportChoice input {
  display: none;
}

.GPisochronTransportImg {
  display: inline-block;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

#GPisochronTransportCar + .GPisochronTransportImg {
  background-position: -168px 0;
  margin-left: 21px;
  margin-right: 10px;
}

#GPisochronTransportCar:checked + .GPisochronTransportImg {
  background-position: -196px 0;
}

#GPisochronTransportPedestrian + .GPisochronTransportImg {
  background-position: -224px 0;
}

#GPisochronTransportPedestrian:checked + .GPisochronTransportImg {
  background-position: -252px 0;
}

#GPisochronDirectionSelect {
  width: 80px;
}