/* REVERSE GEOCODING */

#GPreverseGeocoding {
  top: 180px;
}

/* Showing/hiding mouse position panel */

#GPshowReverseGeocodingPicto {
  display: inline-block;
}

#GPshowReverseGeocoding + label {
  display: block;
}

#GPshowReverseGeocoding:checked + label {
  display: none;
}

#GPshowReverseGeocoding + label + div {
  display: none;
}

#GPshowReverseGeocoding:checked + label + div {
  display: block;
}

/* General panels */

#GPreverseGeocodingPanel {
  width: 280px;
}

/* Showing/hiding filters */

#GPshowReverseGeocodingFilters {
  display: none;
}

.GPshowReverseGeocodingFiltersPicto {
  top: 80px;
  right: 0;
}

#GPshowReverseGeocodingFilters + label + #GPreverseGeocodingFilters {
  max-height: 0;
  opacity: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

#GPshowReverseGeocodingFilters:checked + label + #GPreverseGeocodingFilters {
  display: block;
  max-height: 500px;
  opacity: 1;
  margin-bottom: 10px;
}

/* Search panel */

#GPreverseGeocodingForm {
  position: relative;
  max-height: 270px;
  overflow-y: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

#GPreverseGeocodingFilters {
  overflow: hidden;
  margin-top: 15px;
  transition: max-height 0.5s ease-in-out 0.25s, opacity 0.5s ease-in-out 0.25s, margin 0.3s ease-in-out 0.25s;
}

.GPreverseGeocodingFiltersLabel {
  display: block;
  margin: auto;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
}

.GPreverseGeocodingCodeLabel,
.GPreverseGeocodingFilterLabel {
  max-width: 105px;
}

.GPreverseGeocodingCodeLabel,
.GPreverseGeocodingCode {
  margin-top: 5px;
  margin-bottom: 0;
}

.GPreverseGeocodingFilterLabel,
.GPreverseGeocodingFilterInput {
  margin-bottom: 5px;
}

input#GPreverseGeocodingSubmit {
  margin-top: 5px;
  margin-bottom: 15px;
}