/* REVERSE GEOCODING */

#GPadvancedToolsPanel {
  left: 10px;
}

/* Showing/hiding reverse geocoding panel */

#GPshowReverseGeocodingPicto {
  margin-bottom: 10px;
}

#GPshowReverseGeocodingOpen {
  background-image: url("../leaflet/img/GPreverseGeocodingOpen.png");
}

/* General panels */

#GPreverseGeocodingPanel {
  left: 10px;
}

#GPreverseGeocodingPanelClose {
  background-image: url("../leaflet/img/GPreverseGeocodingOpen.png");
}