/* SEARCH ENGINE */

#GPsearchEngine {
  overflow: visible;
}

#GPshowSearchEngine + label + #GPsearchInput {
  max-width: 0px;
}

#GPlayerSwitcher label {
  display: block;
}

/* Showing/hiding search engine input */

#GPshowSearchEngine {
  display: none;
}

#GPshowSearchEnginePicto {
  display: inline-block;
  transition: border-radius 0s ease-out 0s;
  transition-delay: 0.5s;
}

#GPshowSearchEngine:checked + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition-delay: 0s;
}

#GPshowSearchEngine + label + #GPsearchInput {
  max-width: 0px;
  border: none;
  transition: max-width 0.5s ease-out 0s;
}

#GPshowSearchEngine:checked + label + #GPsearchInput {
  max-width: 280px;
}

#GPshowSearchEngine + label + #GPsearchInput + #GPshowAdvancedSearch {
  display: none;
}

#GPshowSearchEngine:checked + label + #GPsearchInput + #GPshowAdvancedSearch {
  display: inline-block;
}

#GPautoCompleteList {
  display: none;
}

#GPshowSearchEngine:checked + label + #GPsearchInput + #GPautoCompleteList {
  display: block;
}

/* Simple search input */

#GPsearchInput {
  display: inline-block;
  position: relative;
  left: -3px;
  width: 280px;
  overflow: hidden;
}

#GPsearchInput input {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #999;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
  padding-right: 30px;
  padding-left: 5px;
  color: #333;
  font-size: 1.0em;
}

#GPsearchInput input:disabled {
  background-color: #DDD;
  color: #999;
}

#GPsearchInputReset {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 32px;
  background-position: -30px 0;
  cursor: pointer;
}

/* General panels */

#GPgeocodeResultsClose,
#GPadvancedSearchClose {
  top: 0;
  right: 0;
  width: 30px;
  height: 32px;
}

#GPgeocodeResultsClose {
  background-position: 0 0;
}

#GPadvancedSearchClose {
  background-repeat: no-repeat;
}

/* Advanced search picto */

#GPshowAdvancedSearch {
  transition: border-radius 0s ease-out 0s;
  transition-delay: 0.5s;
}

/* Advanced search panel */

#GPadvancedSearchPanel {
  display: none;
  width: 280px;
  vertical-align: top;
  overflow: hidden;
}

#GPadvancedSearchForm {
  max-height: 220px;
  overflow-y: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.GPadvancedSearchCodeLabel,
.GPadvancedSearchFilterLabel {
  max-width: 105px;
}

.GPadvancedSearchCodeLabel,
.GPadvancedSearchCode,
 #GPadvancedSearchFilters{
  margin-top: 15px;
}

.GPadvancedSearchFilterLabel,
.GPadvancedSearchFilterInput {
  margin-bottom: 5px;
}

input#GPadvancedSearchSubmit {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Autocomplete list / geocode results */

#GPautoCompleteList,
#GPgeocodeResultsList {
  width: 280px;
}

#GPautoCompleteList {
  top: 35px;
}

#GPgeocodeResultsList {
  display: none;
  position: absolute;
  top: 40px;
  border-radius: 4px;
  overflow: hidden;
}

#GPgeocodeResults {
  background-color: #FFF;
  max-height: 140px;
  overflow-y: auto;
}