body {
  margin: 0;
}

#viewerDiv {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 10px;
  background-image: url("../images/fondCarte.png");
}

.ol-zoom {
  position: absolute;
  padding: 2px;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.4);
  left: 0.5em;
  top: 0.5em;
}

.ol-zoom:hover {
  background-color: rgba(255,255,255,0.6);
}

.ol-zoom-in,
.ol-zoom-out {
  width: 1.375em;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 1px;
  line-height: 0.4em;
  height: 1.375em;
  font-weight: 700;
  font-size: 1.14em;
  display: block;
  color: #FFF;
  border: none;
  background-color: rgba(0,60,136,0.5);
  font-family: "Lucida Grande",Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  cursor: pointer;
}

.ol-zoom-in {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.ol-zoom-out {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.ol-zoom-in:hover,
.ol-zoom-in:focus,
.ol-zoom-out:hover,
.ol-zoom-out:focus {
  background-color: rgba(0,60,136,0.7);
}

.leaflet-control-zoom {
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  top: 10px;
  left: 10px;
  font: bold 18px "Lucida Console",Monaco,monospace;
}

.leaflet-control-zoom a,
.leaflet-control-zoom a:hover {
  width: 26px;
  text-decoration: none;
  text-align: center;
  line-height: 26px;
  height: 26px;
  color: black;
  border-bottom: 1px solid #CCC;
  background-color: #FFF;
  display: block;
  text-indent: -1px;
}

.leaflet-control-zoom a:hover {
  background-color: #F4F4F4;
}

.leaflet-control-zoom a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaflet-control-zoom a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
  font-size: 20px;
}
