<div class="bandeau">
<a href="{{site.baseurl}}/index.html"><img class="logo" src="{{site.baseurl}}/images/IGN_log_RVB.jpg"/></a><span>{{site.title}}</span>
<nav>
<a class="nav" href="{{site.baseurl}}/ahn/presentation.html">{{site.ahnShort}}</a>
<a class="nav" href="{{site.baseurl}}/leaflet/presentation.html">{{site.extensionLeafletShort}}</a>
<a class="nav" href="{{site.baseurl}}/ol3/presentation.html">{{site.extensionOL3Short}}</a>
<a class="nav" href="{{site.baseurl}}/services/presentation.html">{{site.apiServicesShort}}</a>
</nav>
</div>
