 <header>
    <div class="header-content">
        <p class="logoIGN"><a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/logoIGN.png"/></a></p>
        <h1>{{site.title}}</h1>
        <nav class="menu-horiz">
            <label id="menu_repli" for="menu_depli">MENU</label>
            <input type="checkbox" id="menu_depli" />
            <ul>
                <li><a href="{{site.baseurl}}/services/presentation.html">{{site.apiServicesShort}}</a></li>
                <li><a href="{{site.baseurl}}/ol3/presentation.html">{{site.extensionOL3Short}}</a></li>
                <li><a href="{{site.baseurl}}/leaflet/presentation.html">{{site.extensionLeafletShort}}</a></li>
                <li><a href="{{site.baseurl}}/sdk/presentation.html">{{site.ahnShort}}</a></li>
            </ul>
        </nav>
    </div>
</header>
