<div id="nav-header">
    <div class="header-content">
        <div class="nav-header-item"><a href="http://www.ign.fr">Le portail IGN</a></div>
        <div class="nav-header-item">
	        <input type="checkbox" id="showAllSitesIGN" /></input>
	        <label for="showAllSitesIGN" class="nav-header-item">Tous les sites IGN</label>
	        <ul>
	            <li class="showSiteIGN"><a href="http://geoportail.gouv.fr">Géoportail</a></li>
	            <li class="showSiteIGN"><a href="http://professionnels.ign.fr/">Espace professionnel</a></li>
	            <li class="showSiteIGN"><a href="http://espaceloisirs.ign.fr/boutique/">Boutique loisirs</a></li>
	            <li class="showSiteIGN"><a href="http://education.ign.fr/">Education</a></li>
	            <li class="showSiteIGN"><a href="http://www.edugeo.fr/">Edugéo</a></li>
	            <li class="showSiteIGN"><a href="http://www.ensg.eu/">ENSG / Formation</a></li>
	            <li class="showSiteIGN"><a href="http://espaceloisirs.ign.fr/fr/">Espace loisirs</a></li>
	            <li class="showSiteIGN"><a href="http://espace-revendeurs.ign.fr/">Espace revendeurs</a></li>
	            <li class="showSiteIGN"><a href="http://geodesie.ign.fr/">Géodésie</a></li>
	            <li class="showSiteIGN"><a href="http://ignfab.ign.fr/">IGNFab</a></li>
	            <li class="showSiteIGN"><a href="http://inventaire-forestier.ign.fr/spip/">Inventaire forestier</a></li>
	            <li class="showSiteIGN"><a href="http://logiciels.ign.fr/">Portail logiciels</a></li>
	            <li class="showSiteIGN"><a href="http://recherche.ign.fr/">Recherche</a></li>
	            <li class="showSiteIGN"><a href="http://www.ign.fr/webtv/">Web TV IGN</a></li>
	        </ul>
        </div>
    </div>
</div>

<header>
    <div class="header-content">
        <p class="logoIGN"><a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/logoIGN.png" alt="IGN" width="94" height="100" /></a></p>
        <h1>{{site.title}}</h1>
        <nav class="menu-horiz">
            <label id="menu_repli" for="menu_depli">MENU</label>
            <input type="checkbox" id="menu_depli" />
            <ul>
                <li><a href="{{site.baseurl}}/bibacces/presentation.html">{{site.apiServicesShort}}</a></li>
                <li><a href="{{site.baseurl}}/ol3/presentation.html">{{site.extensionOL3Short}}</a></li>
                <li><a href="{{site.baseurl}}/leaflet/presentation.html">{{site.extensionLeafletShort}}</a></li>
                <li><a href="{{site.baseurl}}/sdk/presentation.html">{{site.ahnShort}}</a></li>
                <li><a href="{{site.baseurl}}/faq.html">?</a></li>
            </ul>
        </nav>
    </div>
</header>
