<div class="ctaWrapper">
    <div id="backgroundMap"></div>
    <div class="ctaFakeMargin"></div>
    <section class="callToAction">
        <h2 class="ctaTitle">Les API du Géoportail évoluent</h2>
        <p class="ctaBaseline">Ajoutez des cartes dynamiques dans votre page Web en utilisant les outils et données du Géoportail avec Leaflet ou OpenLayers 3</p>
        <div class="ctaButtonsWrapper">
            <div class="ctaButton"><a href="{{site.baseurl}}/bibacces/presentation.html">{{site.apiServicesShort}}</a></div>
            <div class="ctaButton"><a href="{{site.baseurl}}/ol3/presentation.html">{{site.extensionOL3Short}}</a></div>
            <div class="ctaButton"><a href="{{site.baseurl}}/leaflet/presentation.html">{{site.extensionLeafletShort}}</a></div>
            <div class="ctaButton"><a href="{{site.baseurl}}/sdk/presentation.html">{{site.ahnShort}}</a></div>
        </div>
        <p class="ctaMore" onclick="scrollIndex();">En savoir plus sur les évolutions</p>
    </section>
</div>
