<!-- layerSwitcher Stuff -->
<script src="{{site.baseurl}}/js/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
{% if {{include.apiTag}} == "ol3" or {{include.apiTag}} == "leaflet" %}
<script src="{{site.baseurl}}/js/Sortable.min.js"></script>
<script src="{{site.baseurl}}/js/GPlayerSwitcher.js"></script>
<script src="{{site.baseurl}}/js/GPsearchEngine.js"></script>
<script src="{{site.baseurl}}/js/GPmousePosition.js"></script>
<script src="{{site.baseurl}}/js/GPreverseGeocoding.js"></script>
<script src="{{site.baseurl}}/js/GPisochron.js"></script>
<script src="{{site.baseurl}}/js/GProute.js"></script>
{% endif %}
