<head>
	<title>{{ page.title }}</title>
	<meta charset='utf-8'/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name = "viewport" content = "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta http-equiv="refresh" content="0;URL='https://geoservices.ign.fr/'" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/sfd.css" type="text/css" />
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css">
	{% if {{include.apiTag}} == "ol3" or {{include.apiTag}} == "leaflet" %}
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/viewer.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPgeneralWidget.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPlayerSwitcher.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPsearchEngine.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPmousePosition.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPreverseGeocoding.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPisochron.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GProute.css" />
	{% endif %}
	{% if {{include.apiTag}} == "ol3" %}
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPgeneralWidgetOL3.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPlayerSwitcherOL3.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPsearchEngineOL3.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPmousePositionOL3.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPreverseGeocodingOL3.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPisochronOL3.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GProuteOL3.css" />
	{% elsif {{include.apiTag}} == "leaflet" %}
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPgeneralWidgetLeaflet.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPlayerSwitcherLeaflet.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPsearchEngineLeaflet.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPmousePositionLeaflet.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPreverseGeocodingLeaflet.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GPisochronLeaflet.css" />
	<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/GProuteLeaflet.css" />
	{% else %}
	{% endif %}
</head>
