<footer>
    <div class="header-content">
        <p>
            <img class="logo" src="{{site.baseurl}}/images/logoIGNsmall.png" alt="IGN" title="IGN" width="51" height="25" />
            <img class="baseline" src="{{site.baseurl}}/images/baselineIGN.png" alt="L'information grandeur nature" title="L'information grandeur nature" width="256" height="21" />
        </p>
        <p>L'IGN a pour vocation de décrire la surface du territoire national et l'occupation de son sol, d'élaborer et de mettre à jour l'inventaire permanent des ressources forestières nationales.</p>
        <p>&copy; IGN - 2016</p>
    </div>
</footer>